#![enable(implicit_some)]
(
    sprite_path: "assets/textures/common/view/heart.png",
    color: Srgba((red: 1.0, green: 0.0, blue: 0.0, alpha: 1.0)),
    physics_collider: (
        shape: Circle(radius: 8.0),
        debug_z_offset: 10.0,
    ),
    damage_trigger: (
        shape: Box(half_size: (2.0, 2.0)),
        debug_z_offset: 10.0,
    ),
    z_position: 10.0,
    default_mode_id: "soul_red",
    speed: 150.0,
    focus_speed_ratio: 0.5,
    invincibility: (
        duration: 1.0,
        flash_interval: 0.1,
        normal_color: Srgba((red: 1.0, green: 0.0, blue: 0.0, alpha: 1.0)),
        flash_color: Srgba((red: 0.5, green: 0.0, blue: 0.0, alpha: 1.0)),
        damage_sound: "audios/sfx/hurtsound.wav",
    ),
)
